<tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.created_at %></td>
    <td><%= transaction.source %></td>
    <td><%= transaction.credit %></td>
    <td><%= transaction.debit %></td>
    <td>
        <a href="#" class="view" title="View" data-toggle="tooltip"><i class="far fa-eye"></i></a>
        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="far fa-edit"></i></a>
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="far fa-trash-alt"></i></a>
    </td>
</tr>
